@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .react-multi-carousel-track li {
    margin-inline: 0%;
  }
}

@media (min-width: 768) {
  .react-multi-carousel-track li {
    margin-left: 0.5%;
  }
}

.react-multiple-carousel__arrow {
  z-index: 1 !important;
}

@theme {
  /* Usage: class="font-integral" */
  --font-integral: var(--font-integral);

  /* Usage: class="font-sans" (Default font) */
  --font-sans: var(--font-satoshi), ui-sans-serif, system-ui, sans-serif;

  /* text slide animation - starts from opacity 0 */
  --animate-riggel-text-slide: riggel-text-slide 0.6s ease-out -0s forwards;

  /* fade strip opacity animation (100% -> 0%) */
  --animate-riggel-fade: riggel-fade 0.6s ease-out 0.4s forwards;

  /* background of R: white -> transparent */
  --animate-riggel-logo-bg: riggel-logo-bg 0.4s ease-out 1s forwards;

  /* 
     Using cubic-bezier(0.45, 0, 0.55, 1) creates a very smooth sine-like motion 
     where it starts velocity 0, peaks in the middle, and ends at velocity 0.
  */
  --animate-float: float 5s cubic-bezier(0.45, 0, 0.55, 1) infinite;

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes riggel-text-slide {
    0% {
      opacity: 0; /* Changed from 1 to 0 - starts invisible */
      transform: translateX(-9.5rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes riggel-fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes riggel-logo-bg {
    0% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }
}

/* Initial state BEFORE animation - text hidden and positioned left */
.riggel-text-slide {
  animation: var(--animate-riggel-text-slide);
}

/* static fade strip from image edge to right */
.riggel-fade {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  animation: var(--animate-riggel-fade);
}

/* apply bg fade to logo wrapper */
.riggel-logo-bg {
  animation: var(--animate-riggel-logo-bg);
}

.ant-message-top {
  z-index: 1 !important;
  top: 88px !important;
}
