@import "tailwindcss";

@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integralcf/Integral_CF_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-integral {
  font-family: "Integral CF", sans-serif;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype-variations");
  font-weight: 100 900; /* Use full weight range */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 400;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .react-multi-carousel-track li {
    margin-inline: 0%;
  }
}

@media (min-width: 768) {
  .react-multi-carousel-track li {
    margin-left: 0.5%;
  }
}

.react-multiple-carousel__arrow {
  z-index: 1 !important;
}
